@{
  Layout="_Layout";
}

	<h2>Your Word: @Model.GetUserWord()</h2>
	<h2>Your Phrase: @Model.GetUserString()</h2>
    <hr>
    <br>
    <h2>There are @Model.CountWords() instances of your @Model.GetUserWord() in your phrase.</h2>
    <br>
	<a href="/"><button class="btn btn-info" type="button" name="back-button">Try Again</button></a>
