@{
  Layout="_Layout";
}

<h3>Your Word: @Model.GetUserWord()</h3>
<h3>Your Phrase: @Model.GetUserString()</h3>
<hr>
<br>
<h3>There are @Model.CountWords() instances of  "@Model.GetUserWord()" in your phrase.</h3>
<br>
<a href="/"><button class="btn btn-info" type="button" name="back-button">Try Again</button></a>
