<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  </head>
  <body>
      <div class="container-fluid container-banner">
      <h1 id="banner-title">Word Counter App</h1>
    </div>
    <div class="container">

    @RenderBody()
</div>
  </body>
</html>
